$theme-colors: (
        'primary': #E27F80,
        'light': #ffffff,
        'dark': #595959,
        'secondary': #336699,
);

$title:'Gravitas One', cursive;
$main-text: 'Roboto', sans-serif;

//main text
$weight-main-text: 400;
$weight-secondary-title: 700;
$weight-low: 100;
